.app{
  background-color:  rgb(165, 255, 134);
  min-height: 1096px;
  min-width: 276px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-text {
  color: rgb(100, 8, 112)
}

.navbar {
  background-color: #4c8bf5;
  display: flex;
  padding: 5px;
  margin: 10px;

}

.navbar-items {
  padding: 5px;
  align-items: flex-end;
}

.navbar-items-desc {
  justify-content: center;
  text-align: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 50px;
}

.navbar-items-desc-t {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;

}

.navbar-items-desc-quem {
  justify-content: center;
  text-align: center;
  display: flex;
  margin: auto;
  padding: 15px;
  min-width: 50px;
  background-color: #4c8bf5;
  
}

.navbar-items-desc-det {
  align-items: center;
  justify-content: center;
  min-width: 50px;
  margin: auto;
  padding: 10px;
  
  text-align: center;
}

.navbar-items-desc-det-2 {
  align-items: center;
  justify-content: center;
  min-width: 50px;
  margin: auto;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.newbox {
  background-color: blueviolet;
  border-radius: 15px;
  max-width: 350px;
  margin: auto;
  max-width: 180px;
  max-height: 300px;
  min-width: 15px;
  min-height: 30px;
}

.img-book{
  max-width: 200px;
  max-height: 300px;
  min-width: 15px;
  min-height: 30px;
  margin: auto;
  border: 4px solid #f54cc0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.header {
  background-color:#fff;
  background-size: cover;
  background-size: 100% ; 
  height: 600px;
  padding: 30px;
  margin: auto;
  border-radius: 30px;
  display: auto;
  justify-content: center;
  

}

.xxl-text-title{
  min-width: 100px;
  color: rgb(100, 8, 112);
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 0;
  font-size: 55px ;
 
  
}

.subtitle1 {
  color: rgb(100, 8, 112);
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: 30px;
text-align: center;

}

.subtitle2 {
  color:  rgb(146, 66, 156);
  justify-content: center;
  display: flex;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.subtitle3 {
  justify-content: center;
  display: flex;
  margin: 12.5px;
  text-align: center;
}

.video {
  align-items: center;
  display: flex;
  margin: auto;
}

.botao-de-compra {
  margin: auto;
  justify-content: center;
  display: flex;
  border-radius: 15px;
  padding: 12px;
  width: auto;
  background-color: #4c8bf5;
  color: aliceblue;
  font-weight: bold;
  border: 1px solid #4c8bf5; ;
}


.botao-de-compra-2 {
  margin: 10px;
  justify-content: center;
  display: flex;
  border-top-left-radius:  15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4c8bf5;
  color: aliceblue;
  font-weight: bold;
  border: 1px solid rgb(0, 10, 143)  ;
}


.box1 {
  background-color: #4c8bf5;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
  text-align: center;
  display: flex;
}

.box2 {
  background-color: #fff;
  color: rgb(98, 6, 184);
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  
}
.depoimentos {
  padding: 10px;
  margin: 10px;

}

.depoimentos-nome {
  padding: 10px;
  justify-content: center;
}

.depoimentos-imgs {
  display: flex;
}

.img-depo1 {
  padding: 15px;
  width: 25%;
  align-items: center;
  justify-content: center     ;
  display: flex;
  margin: auto;
}

.pre-price {
  margin: 0;
  display: flex;
  justify-content: center;
}

.pos-price {
  justify-content: center;
  display: flex;
  margin: 0;
  font-size: 100px;
}

.footer-message {
  margin: 25px;
  justify-content: center;
  display: flex;
  min-width: 250px;
}


