.app{
  background-color: rgb(236, 90, 255);
  min-height: 1096px;
  
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar {
  background-color: #4c8bf5;
  display: flex;
  padding: 5px;
  margin: 10px;

}

.navbar-items {
  padding: 5px;
  align-items: flex-end;
}

.navbar-items-desc {
  justify-content: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 50px;
}

.navbar-items-desc-t {
  justify-content: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  
 
}

.navbar-items-desc-quem {
  justify-content: center;
  text-align: center;
  display: flex;
  margin: auto;
  padding: 15px;
  min-width: 50px;
  background-color: rgb(165, 255, 134);
  
}

.navbar-items-desc-det {
  align-items: center;
  justify-content: center;
  min-width: 50px;
  margin: auto;
  padding: 10px;
 
  text-align: center;
}

.newbox {
  background-color: blueviolet;
  border-radius: 15px;
  max-width: 350px;
  margin: auto;
}

.img-book{
  width: 350px;
  height: 450px;
  margin: auto;
  justify-content: center;
  display: flex;
}

.header {
  background-color:rgb(165, 255, 134);
  background-size: cover;
  background-size: 100% ; 
  height: 600px;
  padding: 30px;
  margin: auto;
  border-radius: 30px;
  display: auto;
  justify-content: center;
  

}

.xxl-text-title{
  min-width: 100px;
  color: rgb(100, 8, 112);
  justify-content: center;
  display: flex;
  margin: 0;
 
  
}

.subtitle1 {
  color: rgb(100, 8, 112);
  justify-content: center;
  display: flex;
  font-size: 30px;

}

.subtitle2 {
  color:  rgb(146, 66, 156);
  justify-content: center;
  display: flex;
  font-size: 20px;
  
  margin: auto;
}

.subtitle3 {
  justify-content: center;
  display: flex;
  margin: 2px;

}

.video {
  align-items: center;
  display: flex;
  margin: auto;
}

.botao-de-compra {
  margin: auto;
  justify-content: center;
  display: flex;
  border-radius: 15px;
  padding: 9px;
  background-color: #4c8bf5;
  color: aliceblue;
  font-weight: bold;
  border: 1px solid #4c8bf5; ;
}

 
.depoimentos {
  padding: 10px;
  margin: 10px;

}

.depoimentos-nome {
  padding: 10px;
  justify-content: center;
}

.img-depo {
  padding: 15px;
  width: 35%;
  align-items: center;
  justify-content: center     ;
  display: flex;
  margin: auto;
}

.pre-price {
  margin: 0;
  display: flex;
  justify-content: center;
}

.pos-price {
  justify-content: center;
  display: flex;
  margin: 0;
}

.footer-message {
  margin: 25px;
  justify-content: center;
  display: flex;
  min-width: 250px;
}


